@charset "UTF-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #12171c;
}
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  height: 10%;
}
.navlogo {
  width: 40px;
  vertical-align: middle;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.nav-bar li {
  display: inline-block;
  list-style: none;
  padding: 0px 15px;
}
a, button {
  font-size: 16px;
  font-weight: 500;
  color: #b7b9bb;
  text-decoration: none;
  cursor: pointer;
}
button {
  background: #967526;
  border: 2px solid #ffce1f;
  padding: 9px 25px;
}
.header-pic {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.hamburger {
  display: none;
}
hr.new1 {
  margin: 20px auto 0px auto;
  width: 95%;
  color: 1px solid rgba(41, 46, 50, 255);
}
.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 95%;
  margin: auto;
}
.grid {
  width: 95%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 10px;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper > img {
  display: block;
  width: 100%;
}
.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper > img {
  transition: 200ms ease-in-out;
}
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}
.img-wrapper:hover > img.zoom {
  transform: scale(1.1);
}
.img-wrapper:hover > img.blur {
  filter: blur(5px);
}
.img-wrapper > .content.fade {
  opacity: 0;
}
.img-wrapper:hover > .content.fade {
  opacity: 1;
}
/*------------------------LOGIN PAGE--------------------------------------*/
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
section .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}
section .imgBx:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #e91e63, #03a9f4);
  z-index: 1;
  mix-blend-mode: screen;
}
section .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
section .contentBx .formBx {
  width: 50%;
}
section .contentBx .formBx h2 {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  display: inline-block;
  letter-spacing: 1px;
}
section .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16;
  letter-spacing: 1px;
  color: #607d8;
  background: transparent;
  border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type="submit"] {
  background: #1d222d;
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover {
  background: #232935;
}
section .contentBx .formBx .remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}
section .contentBx .formBx .inputBx p {
  color: #607d8b;
}
section .contentBx .formBx .inputBx p a {
  color: white;
}
section .contentBx .formBx h3 {
  color: #607d8b;
  text-align: center;
  margin: 80px 0 10px;
  font-weight: 500px;
}
section .contentBx .formBx .sci {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .contentBx .formBx .sci li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #607d8b;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
section .contentBx .formBx .sci li:hover {
  background: #232935;
}
/*-----------------------------FEATURE PAGE-------------------------------------------*/
.feature {
  width: 55%;
  text-align: center;
  margin: 30px auto 0px auto;
}
.feature p {
  color: white;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.feature hr {
  margin: 30px auto 30px auto;
}
.feature-1 {
  display: grid;
  grid-template-columns: 1fr;
}
.feature h3 {
  color: white;
  font-size: 25px;
  text-align: left;
  margin-top: 30px;
  letter-spacing: 1px;
}
.feature h1 {
	text-align: center;
	color:white;
	font-size: 50px;
	letter-spacing: 1.5px;
}
@media only screen and (max-width: 980px) {
  button {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    width: 100%;
    background: #11101b;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 450px;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
  }
  .nav-bar ul li a {
    margin-botton: 12px;
  }
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  padding: 50px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  background-color: white;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #b7b9bb;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .news {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: auto;
  }
  section .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  section .contentBx .formBx {
    width: 100%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.8);
    margin: 50px;
  }
  section .contentBx .formBx h3 {
    color: #607d8b;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 400px) {
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .newsimage {
    text-align: center;
    width: 100%;
  }
	.nav-bar {
    height: 0;
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    width: 100%;
    background: #11101b;
    transition: 0.5s;
    overflow: hidden;
  }
  #navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
    height: 8%;
  }
	.feature h1{
		font-size: 30px;
		letter-spacing: normal;
	}
	.feature {
  width: 90%;
  text-align: center;
  margin: 30px auto 0px auto;
}
}