.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
.flex-img {
	background-size: cover;
}
@media only screen and (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
      }
	.flex-img {
	background-size: cover;
}
  }